<div class="container-fluid footer">
    <div class="row">

        <!-- name -->
        <div class="col-lg-6">
            <h1>Cloudkitchenweb</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>

        <!-- nav -->
        <div class="col-lg-4">
            <div class="footer-menu">
                <a routerLink="">Home</a>
                <a routerLink="menu">Menu</a>
                <a routerLink="about">About</a>
                <a routerLink="contact">Contact</a>
            </div>
        </div>

        <!-- social -->
        <div class="col-lg-2">
            <a target="_blank" href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
            <a target="_blank" href="https://www.github.com"><i class="bi bi-github"></i></a>
            <a target="_blank" href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
            <a target="_blank" href="https://www.line.com"><i class="bi bi-line"></i></a>
        </div>

    </div>
</div>
